{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "import"
    ],
    "settings": {
        "import/resolver": {
            "babel-module": {
                "root": [
                    "./src"
                ],
                "alias": {
                    "Utilities": "./src/utils"
                }
            }
        }
    },
    "globals": {
        "__DEV__": true
    },
    "rules": {
        "max-len": [
            1,
            75,
            2,
            {
                "ignoreComments": true
            }
        ]
    }
}