.DS_Store
.tmp
.git
*.keys
.settings
*.log
.env
.secret
.coveralls.yml

.idea
*.sublime-workspace
*.sublime-project
.vscode

npm-debug.log
node_modules
dist/
data/
build/
docs/
coverage/
client/coverage/
client/build/
server-coverage/